.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.footer_left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}
.footer_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer_logo {
  width: 32%;
}
.footer_links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.footer_item {
  margin: 0 0.625rem;
  text-align: center;
  color: white;
  cursor: pointer;
}
.footer_right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.25rem;
}
.footer_desc {
  text-align: center;
  color: white;
  font-size: small;
  margin-bottom: 0;
}
.footer_website {
  margin-top: 0.25rem;
  text-align: center;
  color: white;
  margin-bottom: 0;
}
.divider {
  min-height: 0.25px;
  margin-top: 1.25rem;
  background-color: rgb(156 163 175);
  width: 90%;
}
.bottom-container {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-container > p {
  color: white;
  font-size: smaller;
}
