.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 21.5rem;
  height: 87px;
}
.logo_container {
  justify-content: space-between;
  align-items: center;
  color: white;
  font-weight: 600;
  font-size: 32px;
}
.logo {
  width: 32%;
  cursor: pointer;
}
.nav_links {
  color: white;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_item {
  margin: 0 1rem;
  cursor: pointer;
}
.login-btn {
  background-color: #2952e3;
  padding: 0.5rem 1.75rem;
  margin: 0 1rem;
  border-radius: 30px;
  cursor: pointer;
}
.login-btn:hover {
  background-color: #2546bd;
}
